.hero {
  background-image: url("../../../public/hero.png");
  height: 87vh;
  object-fit: "cover";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}



.headtext {
  color: aliceblue;
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  padding-top: 12rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation-name: htext;
  animation-duration: 1s;
}

.text {
  color: aliceblue;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation-name: htext;
  animation-duration: 1s;
}

@keyframes htext {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0px);
  }
}

.btn {
  display: flex;
  padding: 10px 30px 10px 30px;
  border: none;
  margin: auto;
  border-radius: 5px;
  margin-top: 20px;
  color: rgb(53, 44, 130);
  transition: 0.8s;
  animation-name: htext;
  animation-duration: 1s;
}

.btn:hover {
  padding: 10px 40px 10px 40px;
  transition: 0.8s;
  color: aliceblue;
  background-color: rgb(53, 44, 130);
}

@media screen and (max-width: 768px) {
  .text {
    padding: 0rem 5rem 0rem 5rem;
    display: none;
  }

  .hero {
    height: 95vh;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 100vh;
  }
}

@media screen and (max-width: 597px) {
  .hero {
    height: 120vh;
  }
}

@media screen and (max-width: 432px) {
  .text {
    display: none;
  }

  .hero {
    height: 120vh;
  }
}

@media screen and (max-width: 376px) {
  .headtext {
    font-size: 70px;
  }

  .hero {
    height: 130vh;
    object-fit: "cover";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
}
