.link{
  color: rgb(14, 14, 14);
  text-decoration: none;
  color: aliceblue;
  background-color: rgb(40, 60, 60);
  padding: 10px;
}

.nav{
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  background-color: rgb(26, 26, 26);
  max-width: 100%;
  color: aliceblue;
  margin: auto;
}


/* only the page.jsx */
