.bg {
  background-image: url("../../../../public/tables.png");
  height: 60vh;
  object-fit: "cover";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 5rem;
}

.container {
  max-width: 1200px;
  display: grid;
  margin: auto;
  place-content: center;
  padding: 2rem;
  padding-bottom: 0rem;
  animation-name: down;
  animation-duration: 1s;
}

.headt {
  padding: 2rem;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: rgb(53, 44, 130);
}

.parat {
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 200;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.containerthree{
  max-width: 1200px;
  display: flex;
  grid-gap: 10rem;
  margin: auto;
  place-content: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.containerone{

  max-width: 1200px;
  display: flex;
  grid-gap: 1rem;
  margin: auto;
  place-content: center;
  padding: 2rem;
  flex-wrap: wrap;

}

.icon{
  width: 60px;
  height: 60px;
  margin-top: -10px;
}

.itemone{
  display: flex;
  grid-gap: 10px;
}


.contde {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 200;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
 
}

.contdename {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(53, 44, 130);
  text-shadow: 0px 0px 0px rgba(88, 88, 88, 0.5);

}


.flexcontainer{

  display: flex;
}

@keyframes down {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}


@media screen and (max-width: 500px) {
  

  .containerthree{
  
    grid-gap: 2rem; 
    padding: 2rem;
 
  }

  .itemone{
    display: grid;
    flex-basis: 500px;
    

    
  }
  

  }